In [7]:
import addfips
import requests
import matplotlib.pyplot as plt
from IPython.display import Image
import folium
import pickle
import pandas as pd
from shapely.geometry import Point
import geopandas as gpd
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import pyproj
import collections
import numpy as np

%matplotlib inline

In [2]:
counties = pd.read_csv('../data/countybreakout.csv')

In [3]:
counties.head()

,Unnamed: 0,id,County,G5,G4,G3,G2,G1,S5,S4,...,C_Crustacean,C_Non_Vasc_Plant,C_Amphibian,C_Bird,C_Insect,C_Mammal,C_Fish,C_Mollusc,C_Flowering Plant,geometry
0,0,0,Chester,1,0,1,0,2,0,0,...,1,0,0,0,0,0,1,0,4,"POLYGON ((1137985.762302732 344601.6428789578,..."
1,1,1,Wayne,10,3,11,2,3,0,0,...,1,0,1,1,1,6,11,5,13,"POLYGON ((1365052.057184977 391716.8055382015,..."
2,2,2,Tipton,5,0,4,0,0,0,0,...,0,0,0,1,0,0,7,3,4,MULTIPOLYGON (((886814.3302633836 400456.52460...
3,3,3,Hamilton,15,12,10,3,5,0,1,...,2,4,2,6,0,3,2,5,38,"POLYGON ((2274954.438163981 239788.9109037909,..."
4,4,4,Stewart,10,6,7,1,0,0,0,...,0,0,1,5,0,2,2,1,23,"POLYGON ((1382472.783498319 743972.3021412947,..."

In [4]:
counties['fed_diff'].mean()

41.8421052631579

In [5]:
counties['global_diff'].mean()

14.0

In [6]:
counties['state_diff'].mean()

10.56842105263158