In [10]:
import pandas as pd

In [15]:
G1_TN = pd.read_csv('../data/smallfiles/G1_TN.csv')

In [16]:
G1_TN.head(2)

,Huc 8,Huc 8 Name,Huc 12,Huc 12 Name,Type,Category,Scientific Name,Common Name,Global Rank,State Rank,Fed Status,State Status,Habitat Description,Wet Habitat Flag
0,5130108,Caney Fork River,51301080205,Cane Creek Lower,Invertebrate Animal,Other Type,Chaetaspis mollis,A Cave Millipede,G1,S1,--,"Rare, Not State Listed",Terrestrial cave obligate; central Cumberland ...,Upland
1,5130108,Caney Fork River,51301080205,Cane Creek Lower,Invertebrate Animal,Other Type,Chaetaspis sp. 1,A Cave Millipede From Thunder Run Cave (TN),G1,S1,--,"Rare, Not State Listed",Terrestrial cave obligate; wet caves of centra...,Upland

In [17]:
G1_TN['Common Name'].nunique()

131

In [18]:
S1_TN = pd.read_csv('../data/smallfiles/S1_TN.csv')

In [19]:
S1_TN.head(2)

,Huc 8,Huc 8 Name,Huc 12,Huc 12 Name,Type,Category,Scientific Name,Common Name,Global Rank,State Rank,Fed Status,State Status,Habitat Description,Wet Habitat Flag
0,3150101,Conasauga River,31501010101,Headwaters Conasuaga River,Invertebrate Animal,Mollusc,Ptychobranchus foremanianus,Rayed Kidneyshell (= Triangular Kidneyshell),G1,S1,LE,E,Medium sized rivers with good current and coar...,Aquatic
1,3150101,Conasauga River,31501010102,Jacks River,Vertebrate Animal,Fish,Percina jenkinsi,Conasauga Logperch,G1,S1,LE,E,Deep gravel runs or pools with small stones & ...,Aquatic

In [9]:
S1_TN['Common Name'].nunique()

465

In [20]:
LE_TN = pd.read_csv('../data/smallfiles/LE_TN.csv')

In [21]:
LE_TN.head(2)

,Huc 8,Huc 8 Name,Huc 12,Huc 12 Name,Type,Category,Scientific Name,Common Name,Global Rank,State Rank,Fed Status,State Status,Habitat Description,Wet Habitat Flag
0,3150101,Conasauga River,31501010101,Headwaters Conasuaga River,Invertebrate Animal,Mollusc,Ptychobranchus foremanianus,Rayed Kidneyshell (= Triangular Kidneyshell),G1,S1,LE,E,Medium sized rivers with good current and coar...,Aquatic
1,3150101,Conasauga River,31501010102,Jacks River,Vertebrate Animal,Fish,Percina jenkinsi,Conasauga Logperch,G1,S1,LE,E,Deep gravel runs or pools with small stones & ...,Aquatic

In [22]:
LE_TN['Common Name'].nunique()

57

In [23]:
G1_Caney = pd.read_csv('../data/smallfiles/GI_Caney.csv')

In [24]:
G1_Caney.head(2)

,Unnamed: 0,Huc_8,Watershed,Huc_12,Huc_12Name,Type,Category,Scientific_Name,Common_Name,Global_Rank,State_Rank,Fed_Status,State_Status,Habitat,Wet_Habitat_Flag
0,1105,5130108,Caney Fork River,51301080204,Dry Fork,Invertebrate Animal,Insect,Pseudanophthalmus sp. 27,Rumbling Falls Cave Beetle,G1,S1,--,"Rare, Not State Listed",Terrestrial cave obligate; middle Cumberlands;...,Upland
1,1113,5130108,Caney Fork River,51301080205,Cane Creek Lower,Invertebrate Animal,Insect,Arrhopalites sp. 4,A Cave Springtail (species 1),G1,S1,--,"Rare, Not State Listed",Terrestrial cave obligate; middle Cumberlands.,Upland

In [25]:
G1_Caney['Common_Name'].nunique()

29

In [26]:
S1_Caney = pd.read_csv('../data/smallfiles/S1_Caney.csv')

In [27]:
S1_Caney.head(2)

,Unnamed: 0,Huc_8,Watershed,Huc_12,Huc_12Name,Type,Category,Scientific_Name,Common_Name,Global_Rank,State_Rank,Fed_Status,State_Status,Habitat,Wet_Habitat_Flag
0,1105,5130108,Caney Fork River,51301080204,Dry Fork,Invertebrate Animal,Insect,Pseudanophthalmus sp. 27,Rumbling Falls Cave Beetle,G1,S1,--,"Rare, Not State Listed",Terrestrial cave obligate; middle Cumberlands;...,Upland
1,1113,5130108,Caney Fork River,51301080205,Cane Creek Lower,Invertebrate Animal,Insect,Arrhopalites sp. 4,A Cave Springtail (species 1),G1,S1,--,"Rare, Not State Listed",Terrestrial cave obligate; middle Cumberlands.,Upland

In [28]:
S1_Caney['Common_Name'].nunique()

81

In [29]:
LE_Caney = pd.read_csv('../data/smallfiles/LE_Caney.csv')

In [30]:
LE_Caney.head(2)

,Unnamed: 0,Huc_8,Watershed,Huc_12,Huc_12Name,Type,Category,Scientific_Name,Common_Name,Global_Rank,State_Rank,Fed_Status,State_Status,Habitat,Wet_Habitat_Flag
0,1121,5130108,Caney Fork River,51301080205,Cane Creek Lower,Invertebrate Animal,Mollusc,Pleuronaia gibberum,Cumberland Pigtoe,G1,S1,LE,E,Shallow areas in small-medium rivers in riffle...,Aquatic
1,1123,5130108,Caney Fork River,51301080205,Cane Creek Lower,Invertebrate Animal,Mollusc,Pegias fabula,Littlewing Pearlymussel,G1,S1,LE,E,"Cool, clear, high-gradient streams in sand, gr...",Aquatic

In [31]:
LE_Caney['Common_Name'].nunique()

13